{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>priotex</title>
	
	<link rel="stylesheet" type="text/css" href="{% static "core/css/style.css" %}">

	<link rel="stylesheet" type="text/css" href="{% static "core/css/bootstrap-grid.css" %}">

	<script type="text/javascript" src=" {% static "core/js/jquery.js" %} "></script>

</head>
<body>

<div class="container">
	<div class="row">
		
		<div id="day" class="col">	
			
			<div class="tab">	
				Today 
			</div> 
			
			<div class="list-container">
				<div class="list-box">
					<ul>
						{% for x in today  %}
						<li class="card">
						<div class="tick-box">
							<input onclick="markDone(this,{'type' : 'today','id' : {{x.id}} })" type="checkbox" name="check"
							{% if x.done %}
								checked
							{% endif %}
							>
						</div>
						<div class="list-text">{{x.job}}</div>

						<div class="pull-right">
						<a class="no-link trash" onclick="deleteList(this,{'type' : 'today','id':{{x.id}}});">
							Delete
						</a>
							</div>
						</li>
						{% endfor %}
					</ul>
					
					<a class="shadow pull-right hide"> Options </a>
					<div class="option">
						<form action="#">
							<input type="text">
							<input onclick="addList(this,{'type':'today'})" id="dayAdd" class="add-button" type="submit" value="Add">
						</form>
            			<!-- 
						<div class="more-option">	
							<a href="#"  class="no-link shadow" >Clear Done</a>
							|
            				<a href="#" class="no-link shadow" >Clear All</a>
            				|
            				<a href="#" class="no-link shadow"> 
            				Hide</a>
						</div>
            				-->
					</div>
						<!-- more option end -->	
				</div>
				<!-- list-box end -->	
			</div>
				<!-- list-container end -->	
		</div>
			<!-- day end -->	


		<div id="week" class="col">			
			<div class="tab">	
			Week
			</div> 
			
			<div class="list-container">
				<div class="list-box">
					<ul>
						{% for x in week  %}
						<li class="card">
						<div class="tick-box">
							<input onclick="markDone(this,{'type' : 'week',id : {{x.id}} })" type="checkbox"
							{% if x.done %}
								checked
							{% endif %}
							>
						
						</div>
						<div class="list-text">{{x.job}}</div>
						<div class="pull-right">
							<a href="#" onclick="deleteList(this,{'type': 'week','id' : {{x.id}} })" class="no-link trash" >
								Delete
							</a>
							</div>
						</li>
						{% endfor %}
					</ul>
					<a class="shadow pull-right hide"> Options </a>
					<div class="option">
						<form action="#">
							<input 
							type="text">
							<input id="weekAdd" 
							
							onclick="addList(this,{'type':'week'})"

							class="add-button" type="submit" value="Add">
						</form>
            			<!-- 
						<div class="more-option">	
							<a href="#"  class="no-link shadow" >Clear Done</a>
							|
            				<a href="#" class="no-link shadow" >Clear All</a>
            				|
            				<a href="#" class="no-link shadow"> 
            				Hide</a>
						</div>
            				-->
					</div>
						<!-- more option end -->	
				</div>
				<!-- list-box end -->	
			</div>
				<!-- list-container end -->	
		
		</div>
		<!-- week end -->

		<div id="month" class="col">			
			<div class="tab">	
				Month 
			</div> 

			<div class="list-container">
				<div class="list-box">
					<ul>
						{% for x in month  %}
						<li class="card">
						<div class="tick-box">
							<input onclick="markDone(this,{'type' : 'month', 'id' : {{x.id}} })" type="checkbox" 
							{% if x.done %}
								checked
							{% endif %}
							>
						
						</div>
						<div class="list-text">{{x.job}}</div>
						<div class="pull-right">
							<a href="#" onclick="deleteList(this,{'type': 'month','id' : {{x.id}} })" class="no-link trash" >
								Delete
							</a>
							</div>
						</li>
						{% endfor %}

					</ul>
					<a class="shadow pull-right hide"> Options </a>
					<div class="option">
						<form action="#">
							<input type="text">
							<input id="monthAdd"
							onclick="addList(this,{'type':'month'})" class="add-button" type="submit" value="Add">
						</form>
            			<!--
						<div class="more-option">	
							<a href="#"  class="no-link shadow" >Clear Done</a>
							|
            				<a href="#" class="no-link shadow" >Clear All</a>
            				|
            				<a href="#" class="no-link shadow"> 
            				Hide</a>
						</div>
            				-->
					</div>
						<!-- more option end -->	
				</div>
				<!-- list-box end -->	
			</div>
				<!-- list-container end -->	

		</div>
		<!-- month end -->

	</div>
	<!-- row end -->
</div>
<!-- container end -->

	<script type="text/javascript" src=" {% static "core/js/index.js" %} "></script>


</body>
</html>